#bodyForm {
	font-size: 10pt;
	background-color: #fcfcfc;
	background-image: url(images/content-back.jpg);
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	margin-top: 5px;
	margin-bottom: 5px;
}
#temp{
	width:460px;
	height:30px;
}
#submitButton{
	background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
}
div#content{
	margin:0;
	padding:0; 
	vertical-align:top; 
}
#search { 
    position:absolute;
    top:0;
    right:0;
    background-color: yellow;
}
#searchResults {
	background-color: yellow;
	border: 1px solid black;
}
div#searchPanel{
	max-width: 580px;
	min-width: 580px;
	max-height: 752px;
	overflow: scroll;
	vertical-align: top;
	position: absolute;
	right:0;
	transform-origin: top right;
	transform: scale(0.8,0.8);
	margin-left: auto;
	margin-right: auto;
}
div#searchParent{
	vertical-align: top;
	position:absolute;
	right:0;
	margin-left: auto;
	margin-right: auto;
}
#selectedCourses {
	background-color: yellow;
	border: 1px solid black;
}
table#gridlayout {
	border: 1px solid black;
	/*width: 650px;*/
	/*border-collapse: separate;*/
}
table#gridlayout col.time {
	width: 50px;
}

table#gridlayout col.day {
	width: 120px;
}

table#gridlayout thead th {
	border: 0px;
	padding: 0px;
}

table#gridlayout thead tr th div.grid {
	height: 19px;
	border: 1px solid black;
	line-height: 19px;
}

table#gridlayout thead tr th div.time {
	height: 19px;
	border: 1px solid black;
}

table#gridlayout td {
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	border: 0px;
	/*border: 1px solid #eee;*/
}

table#gridlayout tbody td div.grid {
	border: 1px solid #eee;
	height: 26px;
	margin: 0px;
	font-size: 0px;
}

table#gridlayout tbody td div.time {
	font-size: 8pt;
	border: 1px solid #000;
	height: 24px;
	margin: 0px;
	text-align: center;
	padding-top: 2px;
}

div#schedulegrid {
	position: relative;
	-webkit-transform: translateZ(0)
	vertical-align: top;
	float:left;
	transform-origin: top left;
	transform: scale(0.6,0.6);
	margin-left: auto;
	margin-right: auto;
	width: 652px;
}

div#schedulegrid div.slot {
	position: absolute;
	border: 1px solid black;
	font-size: 8pt;
	width: 118px;
	font-weight: bold;
	text-align: center;
}

div#schedulegrid div.slot div {
	font-size: 8pt;
	padding: 1px 1px 0px 1px;
}

div#schedulegrid div.studentinfo {
	text-align: right;
	font-size: 10pt;
	padding-top: 5px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
